{%extends 'base.html'%}
{%block content%}
{%load static%}
<div class="row">
    <div class="col text-center">
        <h1>Welcome to Tweetu</h1>
    </div>
</div>

<div class="row">
    <div class="col-10 py-4 col-md-4 mx-auto">
        <form action="/create_tweet" id="tweet-create-form" method="post" class="form">
            {%csrf_token%}
            <div id="tweet-form-create-handle-error"></div>
            <input type="hidden" value="/" name="next">    
            <textarea class="form-control" name="content" placeholder="Write down your tweet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">Replace Me...</div>

<script src="{%static 'home.js'%}"></script>
<style>
    .bg-ligh{
     background-color: #764c04
    }
</style>


{%endblock content%}